ul{
	list-style-type: none;
	position: relative;
	margin-bottom: 1em;
	padding:0;
	border-bottom:3px solid black;
}
ul li{
	float: left;
}
article img{
	margin:1em;
	border: 2px solid black;
}
article img:hover, article img:focus{
	height: 500px;
}
article{
	width: 600px;
	float: left;
	text-align:center;
	font-weight:bold;
	padding:20px;
	padding-top:0;
	margin-top:10px;
}
aside{
	width: 140px;
	float:right;
	padding:10px;
}
aside img{
	margin-top:1em;
}
aside a{
	text-decoration:none;
}