section {
	width: 600px;
	float: left;
	padding: 0 20px 20px 20px;
}
section p {
	padding-bottom: .5em;
}
article {
	padding: .5em 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top:10px;
}
aside {
	width: 150px;
	float: right;
	padding: 0 0 20px 0;
}
aside a{
	text-decoration:none;
}
aside img{
	margin-top:1em;
}
aside a{
	text-decoration:none;
}