*{
	/* Universal reset: */
	margin:0;
	padding:0;
}
html{
	background-image:url(../images/background.jpg);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    background-color: white;
}
a{
	text-decoration:none;
}
a:focus, a:hover {
	font-style: italic;
	color: orange;
}
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid black;
}
header h1 {
	float:center;
	font-size: 175%;
	color: black;
	
}
header h3 {
	float: center;
	font-size: 130%;
	font-style: italic;
	margin-left: 310px;
}
header img {
	float: left;
	padding: 0;
	margin-left: 250px;
}
main {
	clear: left;
}
footer {
	background-color: #931420;
	clear: both;
	padding-top: 2em;
	padding-bottom:2em;
	margin-bottom:0;

}
footer p {
	text-align: center;
	color: white;
}
#nav_menu{
	z-index:5;
}
#nav_menu ul{
	list-style-type: none;
	position: relative;
	margin-bottom: 1em;
	padding:0;
	border-bottom:3px solid black;
}
#nav_menu ul li a{
	text-align:center;
	display: block;
	width:200px;
	padding: 1em 0;
	text-decoration: none;
	background-color: blue;
	color:white;
	font-weight:bold;
}
#nav_menu ul li{
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top:100%;
}
#nav_menu ul ul li{
	float: none;
	position: relative;
}
#nav_menu ul ul li ul{
	position:absolute;
	left:100%;
	top:0;
}
#nav_menu ul li.lastitem a{
	width: 200px;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after{
	content:"";
	clear:both;
	display:block;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color:gray;
}