article{
	width: 600px;
	float: left;
	text-align:center;
	font-weight:bold;
	padding:20px;
	padding-top:0;
	margin-top:10px;
}
article video{
	float:left;
	border: 2px solid black;
	margin-left:20px;
	z-index:-1;
}
article p{
	float:left;
	margin-left:130px;
	margin-bottom:20px;
	font-weight: bold;
}
aside{
	width: 160px;
	float:right;
}
aside img{
	margin-top:1em;
}
aside a{
	text-decoration:none;
}